<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.bme.aut.android.ring_me_up_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ringmeupapp">
        <activity
            android:name=".UserActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".CreateDealActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".DealsActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="@string/title_activity_deals"
            android:theme="@style/Theme.Ringmeupapp.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>